


@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.eot');
    src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff'),
        url('Raleway-Regular.ttf') format('truetype'),
        url('Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.eot');
    src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Light.woff2') format('woff2'),
        url('Raleway-Light.woff') format('woff'),
        url('Raleway-Light.ttf') format('truetype'),
        url('Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('PlayfairDisplaySC-Bold.eot');
    src: url('PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplaySC-Bold.woff2') format('woff2'),
        url('PlayfairDisplaySC-Bold.woff') format('woff'),
        url('PlayfairDisplaySC-Bold.ttf') format('truetype'),
        url('PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.eot');
    src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay-Regular.ttf') format('truetype'),
        url('PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family:"Playfair Display";
}


.top  {

display: flex;
flex-flow: row wrap;
justify-content: space-between;

}

.top brand_logo {

height: 300px;
width: 150x;    

}


.top .links {

    display: flex;
    justify-content: center;
    
}

.title-collection {

    color:white;
    padding: 10%;
    font-size: 50;
    text-align: center;
    margin: 0%;
    width: 1240px;
    position: relative;
    background: url(project-01/project-01/images/flower-bkgd.jpg) fixed;
  
    

}

.girl {
    background: url(project-01/project-01/images/banner-girl.png);
    background-attachment: scroll;
    background-size: contain;
    height: 800px;
    width: 500px;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index:2;
    
}

.links a {
color:#e2574c;
}

footer {

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
color: white;
background-color: black;
height: 200px;


}

.contact-info {
display: wrap;
flex-direction: column;
justify-content: center;
margin: 0px 50px;
align-content: center

}

.contact-info p {

 height: 28px;   
}

.address {

  color:grey;
}

#email {
text-decoration: underline;
height: 28px;

}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}

.media i {
  height: 28px;
}
