/* FONT FACE */

    /*RALEWAY*/
    @font-face {
        font-family: ralewayLight;
        src: url(./fonts/Raleway-Light.ttf);
    }
    
    @font-face {
        font-family: ralewayLightItalic;
        src: url(./fonts/Raleway-LightItalic.ttf);
    }
    @font-face {
        font-family: ralewayMedium;
        src: url(./fonts/Raleway-Medium.ttf);
    }
    
    @font-face {
        font-family: ralewayMediumItalic;
        src: url(./fonts/Raleway-MediumItalic.ttf);
    }
    
        /*PLAYFAIR DISPLAY*/
    @font-face {
        font-family: playfairBold;
        src: url(./fonts/PlayfairDisplay-Bold.otf);
    }
        
    @font-face {
        font-family: playfairBoldItalic;
        src: url(./fonts/PlayfairDisplay-BoldItalic.otf);
    }
    @font-face {
        font-family: playfairRegular;
        src: url(./fonts/PlayfairDisplay-Regular.otf);
    }
        
    @font-face {
        font-family: playfairRegularItalic;
        src: url(./fonts/PlayfairDisplay-Italic.otf);
    }
    
a{
text-decoration:none;
}



.top-page {
    display: flex;
    flex-flow: wrap row;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 50px;
}

.links{

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin: 0 25px; */

}

.links a {
    
    color:#e2574c;
    margin: 0 25px;
    }
    

.title-collection {

    display: flex;
    flex-wrap: wrap;
    background-image: url(images/flower-bkgd.jpg);
    position: relative;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align:center;
    width:100%;
    height: 100%;
}
   
.title-collection h1 {
    color:white;
    font-size:75px;
    position: absolute;
    font-family: playfairRegular;
}  
    
.title-collection h3 {
    position: absolute;
    color:white;
    font-family: ralewayLight;
}


.girl {
    /* background-attachment: inherit; */
    /* background-size: contain; */
    height: 800px;
    /* width: 500px; */
    padding-top: 50px;      
    
    
    
}

.about_aloha {

display: flex;
flex-direction: column;
flex-flow: column wrap;
align-items: center;

}

.about_aloha h2 {

display: flex;
align-content: center;
font-style: italic;
color:#2d2d2d;


}

.about_aloha h4{

color:#2d2d2d;
font-family: ralewayLight;
text-align: center;
}

.accessories {
display: grid;
/* grid-template-columns: 2fr 1fr 1fr;
grid-auto-flow:1fr 1fr 2fr;  */
grid-gap: 5px;
width: 100%;
/* height: 100%; */
}


.accessories h3 {
color:white;
position: absolute;
text-align:center;
font-family:"playfairRegular";

}
    
.box img {
    height: 320px;
    width: 100%;
    filter:saturate(80%);
    filter:brightness(75%)
}       

.box a{
display:flex;
justify-content: center;
align-items: center;

}

.mens {
grid-area: 1/1/2/4;


}


.trends {
grid-area:1/5/2/6;   
    
}

.glasses{

grid-area:1/7/2/8;    
}



.sale {
    
grid-area: 3/1/4/2;
}

.bags {
    
grid-area: 3/3/4/4;

}

.womens{
    
grid-area: 3/5/4/8;
}




.updates {
display:flex;
flex-direction: column;
background-image: url(images/wave-bkgd.jpg);
position: relative;
background-size: cover;
background-position: bottom;
justify-content: center;
align-items: center;
width:100%;
height: 250px;
}


.updates h2, h4{
color:white;        


}

.emailbutton input {
display:flex;    
flex-direction: column;
border-radius: 30px;


}

/* .products  {
display:flex;
flex-flow:row wrap;
align-items: center;
justify-content: space-around;
} */


/* .productContainer {
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    
} */

.products h3{
display: flex;
justify-content: center;
text-align: center;
font-family: playfairRegular;
font-style: italic;
}


.products h4{
/* justify-content: center; */
text-align: center;
font-family: playfairRegular;
color: #e2574c;
}

.products h6 {
text-align: center;
font-family: playfairRegular;
color:#969696;

}

 .products p {
text-align: center;
font-family: playfairRegular;
color: #969696;
}

footer {

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;
color: white;
background-color: #242424;
height: 200px;


}

.contact-info {
display: wrap;
flex-direction: column;
justify-content: center;
margin: 0px 50px;
align-content: center

}

.contact-info p {

 height: 28px;   
}

.address {

  color:grey;
}

#email {
text-decoration: underline;
height: 28px;

}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
}

.media i {
  height: 28px;
}
